


body {
    margin: 0;
    height: 100vh;      /* ocupa a tela toda */
    display: flex;
    justify-content: center;  /* centraliza horizontal */
    align-items: center;    /* centraliza vertical */
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 400; /* ou outra */
    font-style: normal;

    /*tive que colcoar por link pq não tava dando pra enviar para o projeto*/
    background-image: url("https://get.pxhere.com/photo/horizon-cloud-sky-morning-rain-dawn-atmosphere-dusk-daytime-evening-orange-red-weather-storm-cumulus-calm-thunderstorm-afterglow-phenomenon-clouds-form-cumulus-clouds-blue-grey-meteorological-phenomenon-atmosphere-of-earth-computer-wallpaper-red-sky-at-morning-1416585.jpg");
    background-size: cover;         /* cobre a tela inteira */
    background-position: center;    /* centraliza */
    background-repeat: no-repeat;   /* não repete */
    background-attachment: fixed;   /* efeito paralaxe (fixo ao rolar) */
}

.container {
    background: rgba(245, 51, 3, 0.3); /* #f53303 com transparência */
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 10px;

    border: 1px solid rgba(245, 51, 3, 0.4); /* Borda suave combinando */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    
}
input[type="text"] {
    width: 350px;
    padding: 12px 20px;

    border: 1px solid rgba(255, 94, 54, 0.5); /* borda mais suave */
    border-radius: 999px;

    background: rgba(255, 94, 54, 0.25); /* laranja com transparência */
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);

    color: white;
    font-size: 16px;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.8); /* branco mais suave */
}




button {
    padding: 10px 20px;
    border: 1px solid #ff5e36;
    background: #ff5e36;
    color: #ffffff;
    border-radius: 999px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

button:hover {
    background: #fd8567;
}

button:active {
    background: #e2e2e2;
}

ul {
    list-style: none;
    padding: 0;
    width: 500px;
    margin-top: 20px;
    color: white;
}

ul li {
    font-family: "Roboto", sans-serif;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 100;
    font-weight: 600;
    margin-bottom: 15px;
}

ul li::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    background: rgba(255, 94, 54, 0.5);
    margin-top: 6px;
}


#titulo {
    font-size: 34px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}